* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9d9c9b;
    width: 350px;
    margin: 0 auto;
    height: 100%;
}

h1, h3 {
    text-align: center;
    font-optical-sizing: auto;
    font-family: Alkatra;
    font-style: normal;
    color: black;
}

h1 {
    font-size: 24px;
}

.navbar {
    background-image: url(https://cdn.pixabay.com/photo/2017/01/13/08/08/tori-1976609_1280.jpg);
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;


}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 8px 4px;
    text-align: center;
    border-radius: 6px;
    background-color: lightgreen;
    width: 80%;


}

.main-picture img {
    width: 300px;
    height: 300px;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 1rem auto;
}

#japan, #about-me {
    padding: 0.5rem;
    background-color: #ffe4c4;
    border-radius: 1rem;
    margin: 1rem;
}

.section3 img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 1rem auto;
}

.section3 p {
    float: none;
    margin: 1rem 1rem;
}

.umbrellas {
    width: 100px;
    height: 100px;
    display: block;
    margin: 1rem auto;
}

.autumn-street {
    width: 300px;
    height: 300px;
    display: block;
    margin: 1rem auto;
}

@media only screen and (min-width: 768px) {

    
}